@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

h1 {
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-size: clamp(32px, 10vw, 60px);
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.lob{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.atalho{
    background-color: rgba(255, 0, 0, 0.733);
    border:3px solid white;
    border-radius: 50px;
    margin-top: -80px;
    width: 150px;
    padding: 12px;

    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 0.3s ease;
}

.atalho:hover{
    background-color: rgb(157, 157, 157);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}


.botao-whats{
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 160px;
    padding: 12px;

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    color: white;
    background-color: hsl(120, 100%, 44%);
    border: 3px solid white;
    border-radius: 50px;

    transition: 0.3s ease;
}

.botao-whats:hover{
    background-color: hsl(120, 100%, 50%);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}
.dados {
    max-width: 400px;
    min-width: 320px;
    margin: 30px ;
    border-radius: 20px;
    
}
.dados:hover{
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
    transform: scale(1.05);
    transition: 0.3s;
}
.dados2 {
    display: block;
    position: relative;
    max-width: 400px;
    min-width: 320px;
    margin: 30px 20px 30px auto;
    border-radius: 20px;
}
.dados2:hover{
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
    transform: scale(1.05);
    transition: 0.3s;
}

.container-foto, .container-foto-direita {
    position: relative;
    display: inline-block;
    width: fit-content;
}


.container-foto-direita {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.legenda, .legenda-direita {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 204, 255, 0.8);
    color: white;
    padding: 8px 15px;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
    transition: 0.3s;
}

.legenda {
    left: 30px; 
}

.legenda-direita {
    right: 20px;
    border-radius: 10px 0 0 10px;
}

.container-foto:hover .legenda, 
.container-foto-direita:hover .legenda-direita {
    background-color: white;
    color: red;
    transform: scale(1.1);
}
.contexto1 {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    max-width: 800px;
    margin: -10px 30px  auto;
    text-align: left;
}
.contexto2 {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0px 30px 0px auto; 
    text-align: right; 
}


