@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
    color: white;

}

h1 {
    color: white;
    font-size: 60px;
    font-family: "Racing Sans One", sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.voltar {
    text-decoration: none;
    background-color: rgba(0, 4, 255, 0.733);
    border: 3px solid white;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    text-align: center;
    color: wheat;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: block;
    font-weight: bold;

}

a.voltar:hover {
    background-color: rgb(157, 157, 157);
    color: rgb(255, 255, 255);
    border: rgba(0, 4, 255, 0.733) solid 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px inset;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.678) 0px 5px 15px;
}

.atalho {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.733);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    padding: 10px;
    margin: -45px 20px 10px 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px inset;
    font-weight: bold;
    transition: 0.3s;

}

.atalho:hover {
    background-color: rgb(157, 157, 157);
    color: rgb(255, 255, 255);
    border: rgb(255, 0, 0) solid 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px inset;
    font-weight: bold;
}

.lob {
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo1 {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 20px;
}

.conteudo2 {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px;
}

.conteudo3 {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px;
}

.conteudo4 {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px;
}

.texto1,
.texto2,
.texto3,
.texto4 {
    font-size: 20px;
    background-color: rgba(0, 151, 221, 0.993);
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
    color: white;
    letter-spacing: 2px;
}

p {
    margin-bottom: 20px;
    font-weight: 550;
    text-indent: 20px;
}

.valores1,
.valores2,
.valores3,
.valores4 {
    background: rgba(0, 0, 0, 0.527);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 5px 20px;
    display: table;
    margin: 10px auto;
}