
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}

h1 {
    font-size: 60px;
    font-family: "Racing Sans One", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.voltar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 160px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 4, 255, 0.8);
    border: 3px solid white;
    border-radius: 50px;
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

.voltar:hover {
    background-color: rgb(157, 157, 157);
    border: 3px solid rgba(0, 4, 255, 0.8);
    box-shadow: 0px 5px 15px rgba(255,255,255,0.6);
}

.lob {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.atalho {
    width: 160px;
    padding: 12px;
    margin: -40px 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.8);
    border: 3px solid white;
    border-radius: 50px;  
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.atalho:hover {
    background-color: rgb(157, 157, 157);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

.conteudo {
    display: block;
    margin: 20px auto;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px;
}
.caixa {
    font-size: 20px;
    background-color: rgba(0, 151, 221, 0.95);
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid red;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset;
    display: block;
}

h2 {
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 2px;
    margin: 20px 0px 5px;
}

p {
    margin-bottom: 20px;
    font-weight: 550;
    text-indent: 20px;
}

.valores {
    background: rgba(0, 0, 0, 0.6);
    border: 3px solid white;
    border-radius: 30px;
    padding: 8px 20px;
    display: table;
    margin: 15px auto;
}
.conteudo-for{
    display: block;
    margin: -50px 0px -10 0px;
    width: 800px;
    height: 500px;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px;
    transform: scale(0.7);
}
.botao-whats {
    width: 160px;
    margin: -40px 10px 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: hsl(120, 100%, 44%);
    border: 3px solid white;
    border-radius: 50px;
    transition: 0.3s ease;
}
.botao-whats:hover {
    background-color: hsl(120, 100%, 50%);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.861);
}
.facebook {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;      
    font-family: "Fjalla One", sans-serif;
    color: #ffffff; 
    font-weight: bold;
}
.container-social {
    margin-left: 50px;
    display: inline-block;
}
.container-social a :hover {
    transform: scale(1.1);
    transition: 0.2s;
    text-decoration: underline;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.423);
}
.criador {
    display: flex;
    align-items: center;
    gap: 10px;      
    font-family: "Fjalla One", sans-serif;
    color: #ffffff; 
    font-weight: bold;
    margin:20px 30px ;
    text-decoration: none;
}
