@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;

}

h1 {
    color: white;
    font-size: 60px;
    font-family: "Racing Sans One", sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.voltar {
    text-decoration: none;
    background-color: rgba(0, 4, 255, 0.733);
    border: 3px solid white;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    text-align: center;
    color: wheat;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: block;
    font-weight: bold;

}

a.voltar:hover {
    background-color: rgb(157, 157, 157);
    color: rgb(255, 255, 255);
    border: rgba(0, 4, 255, 0.733) solid 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px inset;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.678) 0px 5px 15px;
}

.atalho {
    width: 160px;
    padding: 12px;
    margin: -30px 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.8);
    border: 3px solid white;
    border-radius: 50px;  
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.atalho:hover {
    background-color: rgb(157, 157, 157);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

.começo {
    background-color: rgba(0, 151, 221, 0.993);
    width: 50%;
    max-width: 900px;
    min-width: 320px;
    margin: 80px auto 100px;
    padding: 20px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px inset;
    display: block;

}

h2 {
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
    color: white;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0px 10px 20px;

}

.começo p {
    margin: -10px 15px 20px 15px;
    width: 95%;
    font-weight: 550;
    text-indent: 20px;
}

.imagen2 {
    display: block;
    margin: 100px auto 100px;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -8px;
}

.lob {
    display: flex;
    justify-content: center;
    align-items: center;

}
.botao-whats {
    width: 160px;
    margin: -30px 10px 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: hsl(120, 100%, 44%);
    border: 3px solid white;
    border-radius: 50px;
    transition: 0.3s ease;
}
.botao-whats:hover {
    background-color: hsl(120, 100%, 50%);
    border: 3px solid red;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.861);
}
.imagen1 {
    display: block;
    margin: 80px auto 100px;
    width: 800px;
    border-radius: 20px;
    box-shadow: rgb(252, 252, 252) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -8px;
}